.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.avs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  padding: 20px 0;
  background-color: beige;
  border: 4px ridge grey;
}

.avs-card {
  width: 150px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.avs-card .card-subtitle, .avs-card .card-title {
  margin: 5px 0;
}

.dog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  padding: 20px 0;
  background-color: beige;
  border: 4px ridge magenta
}

.dog-card {
  width: 250px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.dog-card .card-subtitle, .dog-card .card-title {
  margin: 5px 0;
}

.dog-card .card-img-top {
  height: 150px;
}